*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
/* body content */
body{
	background-color:#add8e6;
}
/* for logo */
#logo{
	float: left;
	width: 75px;
	padding-top: 5px;
}
/* navigation bar of the page */
.nav{
	float:right;
	background-color: #d3d3d3;
	padding:5px 10px;
	margin-top: 5px;
	border-radius: 45%;
	color: #000000;	
}
/* while hovering the navigation bar */
.nav:hover{
	background-color:#000000;
	color: #ffffff;
	border-radius: 10px 10px;
}
li{
	float: right;
	list-style-type: none;
	padding: 0px 10px;
}
a{
	text-decoration:none;	
}
/* social-site anchor tag */
.social a{
	padding: 20px;
	color:#7b7c7c;
	font-size:1.1rem;
}
#contact{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
}
/* flex design to the social media */
.social{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
/* hovering the social-site */
.social a:hover{
	color:#000000;
	transition: all ease 0.2s;
}
/* contact details of the person */
.contact-in{
	background-color:#434445;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 30px;
	box-shadow: 2px 0px 30px rgba(0,0,0,0.1);
}
/* heading of the content */
.head h1{
	font-family: 'Roboto', sans-serif;
	color: #e7eef3;
	font-size: 2.5rem;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
}
/* short details */
.head p{
	font-family: 'Roboto', sans-serif;
	color:#cecece;
	font-size: 0.8rem;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
/* to input issue of the person */
.inputs{
	margin: 15px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.inputs input{
	width:250px;
	height: 45px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(251,251,251,0.1);
	outline: none;
	margin: 10px 0px;
	padding: 10px;
	box-sizing: border-box;
	color: #f4f4f4;
	display: flex;
}
/* the text area to write the content */
.inputs textarea{
	width:250px !important;
	height: 200px !important;
	outline: none;
	background-color: transparent;
	border:1px solid rgba(82,82,82,1);
	color: #f4f4f4;
	padding: 10px;
	font-size: 1.2rem;
	box-sizing: border-box;
}
.inputs button{
	width:200px;
	height: 40px;
	background-color: #FFFFFF;
	border: none;
	outline: none;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
	letter-spacing: 1px;
}
.inputs input:focus{
	border-bottom: 1px solid rgba(252,252,252,1.00);
	transition: all ease 0.2s;
}
.inputs textarea:focus{
	border: none;
	border-bottom: 1px solid rgba(255,255,255,1.00);
	transition: all ease 0.2s;
	background-color: rgba(0,0,0,0.1);
}
.inputs button:active{
	transform: scale(1.02);
}
/* the map*/
.map{
	filter: grayscale(0.2);
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border: 2px solid #FFFFFF;
}
	
 
 